<div class="row">
    <ng-container *ngFor="let item of data">
      <ng-container *ngIf="item.category === filter">
        <div class="col-md-4 m-2" style="width: 18rem">
          <div class="card">
            <div class="card-body">
                <img src="{{ item.image }}" class="card-img-top" [alt]="item.name" />
                {{ item.name }}
                <h2 class="title">{{ item.name }}</h2>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text">{{ item.rating }}</p>
              </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="filter === 'Todos'">
        <div class="col-md-4 m-2" style="width: 18rem">
          <div class="card">
            <div class="card-body">
                <img src="{{ item.image }}" class="card-img-top" [alt]="item.name" />
                {{ item.name }}
                <h2 class="title">{{ item.name }}</h2>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text">{{ item.rating }}</p>
              </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
