<div class="row">
  <div class="card col-4 m-2" style="width: 18rem" *ngFor="let item of data">
    <div *ngIf="item.category === filter">
      <img src="{{ item.image }}" class="card-img-top" [alt]="item.name" />
      <div class="card-body">
        {{ item.name }}
        <h2 class="title">{{ item.name }}</h2>
        <p class="card-text">{{ item.description }}</p>
        <p class="card-text">{{ item.rating }}</p>
      </div>
    </div>
    <div *ngIf="filter === 'Todos'">
      <img src="{{ item.image }}" class="card-img-top" [alt]="item.name" />
      <div class="card-body">
        <h2 class="title">{{ item.name }}</h2>
        <p class="card-text">{{ item.description }}</p>
        <p class="card-text">{{ item.rating }}</p>
      </div>
    </div>
  </div>
</div>
