<div class="row">
  <ng-container *ngFor="let item of data">
    <ng-container *ngIf="filter === 'Todos'">
      <div class="col-md-4 m-2" style="width: 18rem">
        <div class="card">
          <div class="card-body">
            <img
              src="{{
                'https://www.themoviedb.org/t/p/w600_and_h900_bestv2/' +
                  item.poster_path
              }}"
              class="card-img-top"
              [alt]="item.name"
            />
            {{ item.name }}
            <h2 class="title">{{ item.title || item.name }}</h2>
            <p class="card-text">
              {{
                item.overview
                  ? (item.overview | slice : 0 : 80) + "..."
                  : item.overview
              }}
            </p>
            <p class="card-text">
              {{ calculatePercentaje(item.vote_average) | number : "1.2-2" }} %
            </p>
          </div>
          <ng-container *ngIf="showButtons">
            <button
              *ngIf="estadoBoton"
              class="btn btn-outline-success"
              (click)="addMovie(item.id)"
            >
              Agregar a mi lista
            </button>
            <button
              *ngIf="!estadoBoton"
              class="btn btn-outline-danger"
              (click)="deleteMovie(item.id)"
            >
              Eliminar de mi lista
            </button>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let item of movies">
    <ng-container *ngIf="filter === 'Movie'">
      <div class="col-md-4 m-2" style="width: 18rem">
        <div class="card">
          <div class="card-body">
            <img
              src="{{
                'https://www.themoviedb.org/t/p/w600_and_h900_bestv2/' +
                  item.poster_path
              }}"
              class="card-img-top"
              [alt]="item.name"
            />
            {{ item.name }}
            <h2 class="title">{{ item.title || item.name }}</h2>
            <p class="card-text">
              {{
                item.overview
                  ? (item.overview | slice : 0 : 80) + "..."
                  : item.overview
              }}
            </p>
            <p class="card-text">
              {{ calculatePercentaje(item.vote_average) | number : "1.2-2" }} %
            </p>
          </div>
          <ng-container *ngIf="showButtons">
            <button
              *ngIf="estadoBoton"
              class="btn btn-outline-success"
              (click)="addMovie(item.id)"
            >
              Agregar a mi lista
            </button>
            <button
              *ngIf="!estadoBoton"
              class="btn btn-outline-danger"
              (click)="deleteMovie(item.id)"
            >
              Eliminar de mi lista
            </button>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let item of series">
    <ng-container *ngIf="filter === 'Serie'">
      <div class="col-md-4 m-2" style="width: 18rem">
        <div class="card">
          <div class="card-body">
            <img
              src="{{
                'https://www.themoviedb.org/t/p/w600_and_h900_bestv2/' +
                  item.poster_path
              }}"
              class="card-img-top"
              [alt]="item.name"
            />
            {{ item.name }}
            <h2 class="title">{{ item.title || item.name }}</h2>
            <p class="card-text">
              {{
                item.overview
                  ? (item.overview | slice : 0 : 80) + "..."
                  : item.overview
              }}
            </p>
            <p class="card-text">
              {{ calculatePercentaje(item.vote_average) | number : "1.2-2" }} %
            </p>
          </div>
          <ng-container *ngIf="showButtons">
            <button
              *ngIf="estadoBoton"
              class="btn btn-outline-success"
              (click)="addSerie(item.id)"
            >
              Agregar a mi lista
            </button>
            <button
              *ngIf="!estadoBoton"
              class="btn btn-outline-danger"
              (click)="deleteSerie(item.id)"
            >
              Eliminar de mi lista
            </button>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
